<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/professionalSelfie.jpg" width="150" height="150" alt="profilePic">
                <div class="intro-text">
                    <span class="name">Kevin Perez</span>
                    <hr class="star-light">
                    <span class="skills">Software Developer - </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <h5>Some links may not be working. I'm currently writing CGI scripts offering an interactive experience with my C/C++ programs on the web.</h5>
                <hr class="star-primary">
            </div>
        </div>
        <portfolio-preview></portfolio-preview>
        <div class="col-sm-12">
            <button type="button" class="btn btn-default">
                <a href="https://github.com/unknotted26">Github</a>
            </button>
            <button type="button" class="btn btn-default">
                <a href="https://www.hackerrank.com/unknotted26">HackerRank</a>
            </button>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>I love solving complex problems!</p>
            </div>
        </div>
    </div>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="sparse-matrix" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Sparse Matrix API</h2>
                        <hr class="star-primary">
                        <img src="Data/img/cplusplus.png" class="img-responsive img-centered" alt="">
                        <p>Sparse Matrix</p>
                        <ul class="list-inline item-details">
                            <li>Type:
                                <strong>C++ CLI Application</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times">Close</i>
                        </button>
                        <a href="https://portfolio.ideallyconnected.me/misc_bucket/COP4530/proj9/" class="btn btn-success" ng-click="refreshPage()" data-dismiss="sparse-matrix" >Check out the files!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="mario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Mario</h2>
                        <hr class="star-primary">
                        <img src="Data/img/Cpic.png" class="img-responsive img-centered" alt="">
                        <p>Mario</p>
                        <ul class="list-inline item-details">
                            <li>Type:
                                <strong>C console application</strong>
                            </li>
                        </ul>
                        <button type="button"><a href="https://ideallyconnected.me/mario.html">Give it a try!</a></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="imagemanipulation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Image Manipulation and Exploration</h2>
                        <hr class="star-primary">
                        <img src="Data/img/Cpic.png" class="img-responsive img-centered" alt="">
                        <p>Description</p>
                        <p>
                            This is definitely one of my favorite projects and a reason why I'm glad I took CS50
                            although I already had experience. Here you will find 3 projects of processing bmp image files
                            and 1 project for recovering JPEG files from a corrupt memory block. The trick to implementing
                            these programs is knowing how these images are formatted in memory.
                        </p>
                        <ul class="list-inline item-details">
                            <li>Type:
                                C Console Application
                            </li>
                        </ul>
                        <a href="#!/project-pages/imagemanipulation" class="btn btn-success" ng-click="refreshPage()" data-dismiss="imagemanipulation" >See more and try it out!</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
